@model List<model.entity.InstanciaCorredor>
@{
    ViewBag.Title = "Top 10 más regulares";
}



@Html.Partial("~/Views/Shared/NavBar.cshtml")

<div class="container-fluid">
    <h3>Top 10 más regulares </h3>
    
    <table class="table">
        <tr class="btn-primary">
            <th>Posición</th>
            <th>Nombre Giro</th>
            <th>Año</th>
            <th>Nombre Corredor</th>
            <th>Numero Camisa</th>
            <th>Nombre Equipo</th>
            <th>Suma Puntos Regulares</th>

            <th colspan="5"></th>
        </tr>
        @{int x = 0;}
        @foreach (var objetoInstanciaCorredor in Model)
        {
            x = x + 1;
    <tr>
        <td>@x</td>
        <td>@objetoInstanciaCorredor.NombreGiro</td>
        <td>@objetoInstanciaCorredor.Anio</td>
        <td>@objetoInstanciaCorredor.NombreCorredor</td>
        <td>@objetoInstanciaCorredor.NumeroCamisa</td>
        <td>@objetoInstanciaCorredor.NombreEquipo</td>
        <td>@objetoInstanciaCorredor.SumaPuntosRegulares</td>



       @* <td><a class="btn btn-outline-primary" href="~/Menu/MenuGiro/@objetoInstanciaCorredor.Id">Regresar</a></td>*@

    </tr>
        }


        </table>

    </div>
    <p>@ViewBag.ErrorMessage</p>


